.auditLog-1NVAY0 {
  border: none;
  font-family: var(--font-primary) !important;
  color: var(--primary-dark-400);
}

.header-2pgFQm {
  padding: 10px 24px 10px 16px;
  border-radius: 3px;
}

.headerClickable-zGQJz3,
.headerDefault-1e6yjj {
  background-color: var(--background-secondary-alt) !important;
  color: var(--primary-dark-300) !important;
}

.timestamp-147bcs {
  color: var(--primary-dark-400) !important;
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 16px;
}

.defaultColor-1EVLSt {
  color: var(--text-normal);
}

.row-1PT9E8 {
  margin-bottom: 4px;
}

.headerExpanded-1-zwDr {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--background-secondary-alt);
  color: var(--primary-dark-300);
  font-family: var(--font-primary) !important;
}

.prefix-37pLbv {
  margin-right: 12px;
  color: var(--text-muted) !important;
  font-family: var(--font-primary) !important;
}

.changeDetails-1kMZqI {
  background-color: var(--background-secondary) !important;
  padding: 8px 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.detail-Obzlyb {
  margin-bottom: 4px;
  margin-left: 0;
  margin-top: 0;
  font-family: var(--font-primary) !important;
}

.dash-3zvW4b {
  margin-left: 8px;
  margin-right: 0;
  font-family: var(--font-primary) !important;
}
.change-1kGG13 {
  font-family: var(--font-primary) !important;
  color: var(--text-normal);
}

.title-11H0i9,
.discrim-OWXlDD {
  color: var(--text-normal);
  font-size: 14px;
  line-height: 18px;
  opacity: 1 !important;
}

.overflowEllipsis-BfHznL {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
}
